body {
	background-image: url("https://static.vecteezy.com/system/resources/previews/019/865/117/large_2x/abstract-dark-green-elegant-painting-texture-background-vintage-grunge-dark-backdrop-for-aesthetic-creative-design-free-photo.jpg");
	background-size: cover;
    font-weight: bold;
    text-align: center;
	color: white;
	font-size: 40px;
}

h1 {
	color: goldenrod;
	margin: auto;
	padding: auto;
	font-size: 80px;
}

#message-el {
	color: white;
	font-size: 60px;
	font-style: italic;
}

button {
	background-color: goldenrod;
	color: #2b873e;
	padding: 20px 50px;
	display: inline-block;
	border-radius: 8px;
	font-weight: bold;
	font-size: 15px;
	
}